# PyCharm files.
.idea/
# Generated docs output.
docs/_build/
# Misc python.
__pycache__
.coverage*
coverage*
*.egg-info
.ipynb_checkpoints
# vim swap files
*.sw[a-z]
# build output
/build
/dist
# Folder tracking files
.DS_Store
# Node.
package-lock.json
node_modules/
examples/reviews/example_1/images/compound_0.png
examples/reviews/example_1/images/compound_1.png
examples/reviews/example_1/images/compound_10.png
examples/reviews/example_1/images/compound_101.png
examples/reviews/example_1/images/compound_105.png
examples/reviews/example_1/images/compound_106.png
examples/reviews/example_1/images/compound_11.png
examples/reviews/example_1/images/compound_110.png
examples/reviews/example_1/images/compound_111.png
examples/reviews/example_1/images/compound_116.png
examples/reviews/example_1/images/compound_120.png
examples/reviews/example_1/images/compound_121.png
examples/reviews/example_1/images/compound_126.png
examples/reviews/example_1/images/compound_131.png
examples/reviews/example_1/images/compound_135.png
examples/reviews/example_1/images/compound_136.png
examples/reviews/example_1/images/compound_146.png
examples/reviews/example_1/images/compound_15.png
examples/reviews/example_1/images/compound_151.png
examples/reviews/example_1/images/compound_156.png
examples/reviews/example_1/images/compound_16.png
examples/reviews/example_1/images/compound_161.png
examples/reviews/example_1/images/compound_166.png
examples/reviews/example_1/images/compound_176.png
examples/reviews/example_1/images/compound_181.png
examples/reviews/example_1/images/compound_190.png
examples/reviews/example_1/images/compound_191.png
examples/reviews/example_1/images/compound_195.png
examples/reviews/example_1/images/compound_196.png
examples/reviews/example_1/images/compound_2.png
examples/reviews/example_1/images/compound_20.png
examples/reviews/example_1/images/compound_201.png
examples/reviews/example_1/images/compound_206.png
examples/reviews/example_1/images/compound_21.png
examples/reviews/example_1/images/compound_211.png
examples/reviews/example_1/images/compound_25.png
examples/reviews/example_1/images/compound_26.png
examples/reviews/example_1/images/compound_30.png
examples/reviews/example_1/images/compound_31.png
examples/reviews/example_1/images/compound_35.png
examples/reviews/example_1/images/compound_36.png
examples/reviews/example_1/images/compound_4.png
examples/reviews/example_1/images/compound_41.png
examples/reviews/example_1/images/compound_46.png
examples/reviews/example_1/images/compound_5.png
examples/reviews/example_1/images/compound_51.png
examples/reviews/example_1/images/compound_52.png
examples/reviews/example_1/images/compound_55.png
examples/reviews/example_1/images/compound_6.png
examples/reviews/example_1/images/compound_7.png
examples/reviews/example_1/images/compound_70.png
examples/reviews/example_1/images/compound_71.png
examples/reviews/example_1/images/compound_75.png
examples/reviews/example_1/images/compound_80.png
examples/reviews/example_1/images/compound_85.png
examples/reviews/example_1/images/compound_86.png
examples/reviews/example_1/images/compound_9.png
examples/reviews/example_1/images/compound_90.png
examples/reviews/example_1/images/compound_91.png
examples/reviews/example_1/images/compound_95.png
examples/reviews/example_1/images/compound_96.png
